# macOS
.DS_Store
AppCivicTrento/.DS_Store

# IOS
AppCivicTrento/ios/Runner.xcodeproj/project.pbxproj
AppCivicTrento/ios/Podfile.lock
AppCivicTrento/.dart_tool/flutter_build/dart_plugin_registrant.dart
AppCivicTrento/ios/Podfile.lock
Pods/
Flutter/

# Flutter e Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android 
**/android/.gradle/
**/android/.idea/
**/android/local.properties
**/android/.DS_Store
**/android/build/
