.DS_Store
AppCivicTrento/.DS_Store

# IOS
AppCivicTrento/ios/Runner.xcodeproj/project.pbxproj
AppCivicTrento/ios/Podfile.lock
AppCivicTrento/.dart_tool/flutter_build/dart_plugin_registrant.dart
AppCivicTrento/ios/Podfile.lock
AppCivicTrento/ios/Pods/
Flutter/

# Flutter e Dart
.packages
.pub-cache/
AppCivicTrento/build/
AppCivicTrento/.dart_tool/
AppCivicTrento/.flutter-plugins
AppCivicTrento/.flutter-plugins-dependencies

# Android 
**/android/.gradle/
**/android/.idea/
**/android/local.properties
**/android/.DS_Store
**/android/build/



AppCivicTrento/.packages
AppCivicTrento/.pub-cache/
AppCivicTrento/ios/Flutter/Flutter.framework
AppCivicTrento/ios/Flutter/Flutter.podspec
AppCivicTrento/ios/Flutter/Generated.xcconfig
AppCivicTrento/backend-api/node_modules/.package-lock.json
AppCivicTrento/backend-api/node_modules/buffer-equal-constant-time/package.json
AppCivicTrento/backend-api/node_modules/ecdsa-sig-formatter/package.json
AppCivicTrento/backend-api/node_modules/jsonwebtoken/package.json
AppCivicTrento/backend-api/node_modules/jwa/package.json
AppCivicTrento/backend-api/node_modules/jws/package.json
AppCivicTrento/backend-api/node_modules/lodash.includes/package.json
AppCivicTrento/backend-api/node_modules/lodash.isboolean/package.json
AppCivicTrento/backend-api/node_modules/lodash.isinteger/package.json
AppCivicTrento/backend-api/node_modules/lodash.isnumber/package.json
AppCivicTrento/backend-api/node_modules/lodash.isplainobject/package.json
AppCivicTrento/backend-api/node_modules/lodash.isstring/package.json
AppCivicTrento/backend-api/node_modules/lodash.once/package.json
AppCivicTrento/backend-api/node_modules/semver/package.json
AppCivicTrento/ios/build/ios/XCBuildData/PIFCache/project/PROJECT@v11_mod=6cdced2986b824b821d2a024e94e3e0b_hash=bfdfe7dc352907fc980b868725387e98plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
AppCivicTrento/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=4f9462b036ae20e5e8b70b6063fd1801-json
AppCivicTrento/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=5d4ef9cf74c0b8960874a2ff8686a06d-json
AppCivicTrento/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=9fd928271893ba28efdcd2f2cedfb28f-json
AppCivicTrento/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=16fe9f4b8a5aab730258b232716336da-json
AppCivicTrento/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=72a89812790adea3ec76075590343061-json
AppCivicTrento/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=263cee5a8cff5f7aa305cfc1785cc2b4-json
AppCivicTrento/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=940d70fe04ff847fded75db02e5b0996-json
AppCivicTrento/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=6652d7115851fc832517d05d63713601-json
AppCivicTrento/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=9658d5096201fffe6b19c6c0c9ca1699-json
AppCivicTrento/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c35431c296e43a1e442a4a8d472963e4-json
AppCivicTrento/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e7e7ab4eca803538b286e2fdcf50dd31-json
AppCivicTrento/ios/build/ios/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=(null)_subobjects=615ffcf0d4575a8575e1f8d0029bbf75-json
AppCivicTrento/ios/build/XCBuildData/403964733faf9e3eaec6d844910e7382.xcbuilddata/build-request.json
AppCivicTrento/ios/build/XCBuildData/403964733faf9e3eaec6d844910e7382.xcbuilddata/description.msgpack
AppCivicTrento/ios/build/XCBuildData/403964733faf9e3eaec6d844910e7382.xcbuilddata/manifest.json
AppCivicTrento/ios/build/XCBuildData/403964733faf9e3eaec6d844910e7382.xcbuilddata/target-graph.txt
AppCivicTrento/ios/build/XCBuildData/403964733faf9e3eaec6d844910e7382.xcbuilddata/task-store.msgpack
